table, th, td 
{
    border:solid 1px #CCC;
    padding:1px 3px;
}

th 
{
    font-weight: bold;
    text-align: center;
}

body
{
    margin: 0 auto;
    text-align: center;
}

.floating-box 
{
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}